/* dark.css */

:root[data-theme="dark"] {
  --color-bg-main: #111111;
  --color-bg-surface: #1a1a1a;
  --color-bg-muted: #222222;

  --color-text-primary: #f8f8f8;
  --color-text-secondary: #d1d1d1;
  --color-text-muted: #888888;

  --color-border-subtle: #2a2a2a;
  --color-app-header-bg: #111111;
}