/* light.css */

:root[data-theme="light"] {
  --color-bg-main: var(--color-gray-50);
  --color-bg-surface: var(--color-white);
  --color-bg-muted: var(--color-gray-100);

  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-700);
  --color-text-muted: var(--color-gray-500);

  --color-border-subtle: var(--color-gray-200);
  --color-app-header-bg: var(--color-white);
}